body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #CAE7D3, #ff758c);
    font-family: Arial, sans-serif;
    color: #253342;
    margin: 0;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: 20px;
}

.otp-inputs input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    border: groove, greenyellow;
    margin: 5px;
    border-radius: 5px;
    outline: none;
    background: rgba(255, 255, 255, 0.8);
    color: #ff00d4;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background: #ff007f;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #e60073;
}

.resend-text {
    margin-top: 15px;
    font-size: 14px;
}

.resend-btn {
    color: royalblue;
    cursor: pointer;
    font-weight: bold;
}

.resend-btn:hover {
    text-decoration: underline;
}
